.button {
	border-radius: 8px;
	padding: 16px 24px;
	background: linear-gradient(45deg, var(--color-teal-darker), var(--color-teal-light));
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	min-width: 165px;
	cursor: pointer;
	border: none;
	transition: all 0.5s ease;
	color: var(--color-black);
}

.button:hover {
	background: linear-gradient(45deg, #019898, var(--color-teal-light));
}

.button:enabled:active {
	transform: translateY(2px);
}

.button:disabled {
	animation: blink-button 3s ease-in-out infinite;
	cursor: not-allowed;
}

@keyframes blink-button {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 600px) {
	.button {
		font-size: 14px;
		min-width: 120px;
	}
}
