.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 120px;
	border-bottom: 1px solid var(--color-teal-dark);
}

.nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	/* gap: 1.5rem; */
	font-size: 1.25rem;
}

.nav a {
	text-decoration: none;
	color: var(--color-text-light);
	font-weight: bold;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
}

.nav a:hover,
.nav a:active {
	background: linear-gradient(90deg, #017373, #aad9d1);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 0 18px #aad9d1;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: right;
	gap: 1rem;
	text-decoration: none;
	color: var(--color-text-light);
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.15rem;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.logo img {
	width: 3rem;
	height: 3rem;
	object-fit: contain;
}

@media (max-width: 600px) {
	.header {
		padding: 1.5rem 8%;
	}

	.logo p {
		display: none;
	}
}

@media (min-width: 600px) and (max-width: 1100px) {
	.header {
		padding: 1.5rem 32px;
	}
}
