.button {
	color: var(--color-text-light);
	background-color: #2f2e2e;
	padding: 15px;
	border: none;
	cursor: pointer;
	outline: none;
	min-width: 10rem;
	border-radius: 6px;
	font-size: 1rem;
    transition: all 0.3s ease-in;
}

.button:hover {
	color: var(--color-black);
	background-color: var(--color-teal-dark);
}

.button:active {
	transform: translateY(2px);
}

