.page {
	padding: 60px 140px;
	font-family: var(--font-geist-sans);
}

.hero {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.hero h1 {
	font-family: 'DM Sans', sans-serif;
	font-weight: 700;
	font-size: 59px;
	line-height: 106%;
	letter-spacing: -0.01em;
	background-clip: text;
	color: var(--color-text-light);
	padding-top: 70px;
}

.image,
.heading {
	flex: 1 1 50%;
}

.image {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.image img {
	flex-basis: 100%;
}

.highlight {
	background: linear-gradient(
		45deg,
		var(--color-teal-darker),
		var(--color-teal-light)
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.subheader {
	font-family: 'DM Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #bababa;
	margin: 1rem 0 3rem;
}

@media (max-width: 599px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}

	.hero {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.hero h1 {
		font-size: 45px;
		padding-top: 20px;
	}

	.image {
		display: none;
	}
}

@media (min-width: 600px) and (max-width: 767px) {
	.page {
		padding: 32px;
		padding-bottom: 80px;
	}

	.hero {
		gap: 20px;
	}

	.hero h1 {
		font-size: 35px;
		padding-top: 20px;
	}

	.image img {
		flex-basis: auto;
		width: 250px;
		height: auto;
	}
}

@media (min-width: 768px) and (max-width: 1100px) {
	.page {
		padding: 32px 60px;
		padding-bottom: 0;
	}

	.hero {
		gap: 20px;
	}

	.hero h1 {
		font-size: 40px;
		padding-top: 0;
	}

	.image img {
		flex-basis: auto;
		width: 250px;
		height: auto;
	}
}
